@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root{
--cor-section:  #bd147c;
--fonte-padrao: "Open Sans", sans-serif;
--cor-botao: #7806a5;
} 

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1{
    color:blueviolet;
}
h1:active{
    color: pink;
}
.subtitulo{
        color: green;
        font-weight: bold;
        font-style: italic;
        text-decoration: underline;

    }
#paragrafo{
    width: 50%;
    color: rgb(0, 0, 0);
}

#paragrafo::first-letter{
font-size: 2rem;
}
section{
    width: 80%;
    font-size: 16px;
    background: var(--cor-section);
    color: aliceblue;
    font-family: var(--fonte-padrao);
 
}
#titulo2{
    font-size: 1rem;
}

input{
    display: block;
  }

 main, footer, header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

img{
width: 50%;
}

button:hover{
    background: var(--cor-botao);
}

input:focus{
    border: solid 3px #b40000;
    outline: none;
}

input::placeholder{
    background: #ffabdf;
    color: #ffffff;
}


h3::after{
    content: " programadores!";
}
@media (max-width: 600px){
    body{
        background: blue
    }
    p{
        font-size: 0.8rem;
    }
}

@media (min-width: 700px){
    body{
        background:yellow;
    }
}

@media (max-width: 700px) and (min-width: 600px){
    body{
        background: green;
    };
}